<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD .//EM"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<!-- DADOS CONEXAO -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">admin</property>
		<property name="hibernate.connection.password">admintrier</property>
		<property name="hibernate.connection.url">jdbc:mysql://serverdb-001.csbhbrpvsah7.us-east-1.rds.amazonaws.com:3306/app</property>

		<!-- Local Desenv -->
		<!-- <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/app</property> -->

		<!-- CONFIGURACAO -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">false</property>

		<!-- POOL -->
		<property name="hibernate.c3p0.min_size">4</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>

		<!-- MAPEAMENTOS -->
		<mapping class="br.com.empresa.app.model.cadastro.CadItem" />
		<mapping class="br.com.empresa.app.model.cadastro.CadUnidadeMedida" />
		<mapping class="br.com.empresa.app.model.compra.ComLista" />
		<mapping class="br.com.empresa.app.model.compra.ComListaItem" />
		<mapping class="br.com.empresa.app.model.seguranca.SegUsuario" />

	</session-factory>

</hibernate-configuration>